<ul class="listed-availability-share">
  <li><%= email %></li>
  <li>
    <input
      type="submit"
      value="Delete"
      class="remove-share button-lrg"
      data-email="<%= email %>">
    </li>
</ul>