<%= JST['calendars/form']({ calendar: calendar }) %>

<input
    type="submit"
    id="delete-calendar"
    value="Delete"
    data-id="<%= calendar.id %>"
    class="button-lrg delete">

<div id="add-calendar-share"></div>
<div id="listed-calendar-shares"></div>