<section id="calendar-nav">
  <ul id="toggles">
    <li id="agenda" class="nav-button">Agenda</li>
    <li id="day" class="nav-button">Day</li>
    <li id="week" class="nav-button">Week</li>
    <li id="month" class="nav-button">Month</li>
  </ul>
  <ul>
    <li id="today" class="nav-button">Today</li>
  </ul>
  <ul id="cal-nav">
    <li id="back" class="nav-button"><</li>
    <li id="forward" class="nav-button">></li>
  </ul>
</section>