<li class="cal-list-title menu"><a class="menu" href="#/calendars">Subscribed Calendars</a></li>
<li>
  <% _(calendars).each(function (calendar) { %>
    <% var isAvailabilityShare = (typeof calendar.id == "undefined") %>
    <% var calendarId = (isAvailabilityShare ? calendar.get("availability_share_id") : calendar.get("calendar_id")) %>
    <% var typeOfCalendar = (isAvailabilityShare ? "availability" : "see details") %>

    <ul class="cal-list-item menu bottom">
      <li
        class="cal-color"
        data-color="<%= calendar.get("color") %>"
        data-calendar="<%= calendarId %>"
        data-calendartype=""></li>
      <li class="menu">
        <a class="calendar" href="#"><%= calendar.get("title") %></a>
      </li>
      <li class="cal-menu">
        <%= JST["calendars/sidebar/drop_down"]({
          id: calendar.id,
          isTop: false,
          calendarId: calendarId
          }) %>
      </li>
    </ul>
  <% }); %>
</li>

<script>
$(document).ready(function () {
  $(".bottom > .cal-color").each(function() {
    $el = $(this);
    $el.css("background", function () {
      console.log($el.data("color"));
      return $el.data("color");
    });
  });

  $(".bottom > .cal-color").on("click", function () {
    var $el = $(this);
    if ($el.css("background-color") == "rgb(255, 255, 255)") {
      var calEvents;
      if ($el.data("calendartype") == "see details") {
        calEvents = (function () {
          return _(GCalClone.events.where({calendar_id: $el.data("calendar")})).map(function (calEvent) {
            return calEvent.toJSON();
          });
        })();
      }
      else {
        console.log("else");
      }
      $("#calendar-views").fullCalendar("addEventSource", calEvents);

      $el.css({
        "background-color": $el.css("border-color"),
        "border-color": "white"
      });
    }
    else {
      if ($el.data("calendartype") == "see details") {
        $("#calendar-views").fullCalendar("removeEvents", function (calEvent) {
          return calEvent.calendar_id == $el.data("calendar");
        });
        $el.css({
          "border-color": $el.css("background-color"),
          "background-color": "white"
        });
      }
      else {
        console.log("else");
      }
    };
  });
});
</script>