<li class="cal-list-title menu">
  <a class="menu" href="#">My Calendars</a>
  <ul class="drop-down">
    <li><a class="menu" href="#" id="create-cal">Create new calendar</a></li>
    <li><a class="menu" href="#" id="share-availability">Share your availability</a></li>
  </ul>
</li>
<li>

  <% calendars.each(function (calendar) { %>
    <ul class="cal-list-item menu top">
      <li class="cal-color" data-color="<%= calendar.get("color") %>" data-calendar="<%= calendar.id %>"></li>
      <li class="menu">
        <a class="calendar menu" href="#"><%= calendar.get("title") %></a>
      </li>
      <li class="cal-menu">
        <%= JST["calendars/sidebar/drop_down"]({calendar: calendar, isTop: true}) %>
      </li>
    </ul>
  <% }); %>
</li>

<script>
$(document).ready(function () {
  $(".top > .cal-color").each(function() {
    var $el = $(this);
    $el.css("background", function () {
      return $el.data("color")
    });
  });

  $(".top > .cal-color").on("click", function () {
    var $el = $(this);
    if ($el.css("background-color") == "rgb(255, 255, 255)") {
      calEvents = (function () {
        return _(GCalClone.events.where({calendar_id: $el.data("calendar")})).map(function (calEvent) {
          return calEvent.toJSON();
        });
      })();

      $("#calendar-views").fullCalendar("addEventSource", calEvents);

      $el.css({
        "background-color": $el.css("border-color"),
        "border-color": "white"
      });
    }
    else {
      $("#calendar-views").fullCalendar("removeEvents", function (calEvent) {
        return calEvent.calendar_id == $el.data("calendar");
      });
      $el.css({
        "border-color": $el.css("background-color"),
        "background-color": "white"
      });
    };
  });
});
</script>
