<ul class="calenders" id="owned-calendars">
  <li class="cal-list-title"><a href="#/calendars">My Calendars</a>
    <%= JST['calendars/sidebar/list']({ calendars: calendars }) %>
  </li>
</ul>
<ul class="calenders">
  <li class="cal-list-title"><a href="#/calendars">Shared Calendars</a>
    <%= JST['calendars/sidebar/list']({ calendars: calendars }) %>
  </li>
</ul>