<ul class="owned-calenders">
  <li class="cal-list-title"><a href="/#">My Calendars</a>
  <% calendars.each(function (calendar) { %>
      <ul class="cal-list-item">
        <li class="cal-color"></li>
        <li>
          <a class="calendar" href="/#"><%= calendar.get('title') %></a>
        </li>
      </ul>
  <% }); %>
  </li>
</ul>