<li class="cal-list-title menu">
  <a class="menu" href="#">My Calendars</a>
  <ul class="drop-down">
    <li><a class="menu" href="#" id="create-cal">Create new calendar</a></li>
  </ul>
</li>
<li>

  <% calendars.each(function (calendar) { %>
    <% console.log(calendar.get("color")) %>
    <ul class="cal-list-item menu">
      <li class="cal-color color-<%= calendar.get("color").slice(1) %>"></li>
      <li class="menu">
        <a class="calendar menu" href="#"><%= calendar.get("title") %></a>
      </li>
      <li class="cal-menu">
        <%= JST["calendars/sidebar/drop_down"]({id: calendar.id, isTop: true}) %>
      </li>
    </ul>
  <% }); %>
</li>

<script>
$(document).ready(function () {
  $("#cal-color").css("background", function () {
    return $(this).data("color");
  });
});
</script>
