<li class="cal-list-title menu"><a class="menu" href="#/calendars">Subscribed Calendars</a></li>
<li>
  <% _(calendarShares).each(function (calendarShare) { %>
    <ul class="cal-list-item menu bottom">
      <li
        class="cal-color"
        data-color="<%= calendarShare.get("color") %>"
        data-calendarshare="<%= calendarShare.get("calendar_id") %>"></li>
      <li class="menu">
        <a class="calendar" href="#"><%= calendarShare.get("title") %></a>
      </li>
      <li class="cal-menu">
        <%= JST["calendars/sidebar/drop_down"]({
          id: calendarShare.id,
          isTop: false,
          calendar_id: calendarShare.get("calendar_id")
          }) %>
      </li>
    </ul>
  <% }); %>
</li>

<script>
$(document).ready(function () {
  $(".bottom > .cal-color").each(function() {
    $el = $(this);
    $el.css("background", function () {
      return $el.data("color")
    });
  });

  $(".bottom > .cal-color").on("click", function () {
    var $el = $(this);
    if ($el.css("background-color") == "rgb(255, 255, 255)") {
      calEvents = (function () {
        return _(GCalClone.events.where({calendar_id: $el.data("calendarshare")})).map(function (calEvent) {
          return calEvent.toJSON();
        });
      })();

      $("#calendar-views").fullCalendar("addEventSource", calEvents);

      $el.css({
        "background-color": $el.css("border-color"),
        "border-color": "white"
      });
    }
    else {
      $("#calendar-views").fullCalendar("removeEvents", function (calEvent) {
        return calEvent.calendar_id == $el.data("calendarshare");
      });
      $el.css({
        "border-color": $el.css("background-color"),
        "background-color": "white"
      });
    };
  });
});
</script>