<ul class="drop-down">
  <li><a class="menu" href="#">Display just this Calendar</a></li>
  <li><a class="menu" href="#">Calendar Settings</a></li>
  <li><a class="menu" href="#">Add event to this Calendar</a></li>
  <li><a class="menu" href="#">Add reminder to this Calendar</a></li>
  <li><a class="menu" href="#">Share this Calendar</a></li>
</ul>