<% var isAvailabilityShare = (typeof calendar.id == "undefined") %>
<% var calClass = (isTop ? "cal-settings" : "cal-share-settings") %>
<% calClass = (isAvailabilityShare ? "availability-calendar-settings" : calClass) %>
<% var calendarId = (typeof calendarId == "undefined" ? calendar.id : calendarId) %>
<% var canEdit = (typeof calendar.get("can_edit_events") == "undefined" || calendar.get("can_edit_events")) %>


<ul class="drop-down">
  <li><a class="menu" href="#">Display just this Calendar</a></li>
  <li><a class="menu <%= calClass %>" href="#" data-id="<%= calendarId %>">Calendar Settings</a></li>
  <% if (canEdit) { %>
    <li><a class="menu new-cal-event" data-id="<%= calendarId %>" href="#">Add event to this Calendar</a></li>
  <% } %>
</ul>