<% var calClass = (isTop ? "cal-settings" : "cal-share-settings") %>
<% var calendarId = (typeof calendar_id == "undefined" ? id : calendar_id) %>
<ul class="drop-down">
  <li><a class="menu" href="#">Display just this Calendar</a></li>
  <li><a class="menu <%= calClass %>" href="#" data-id="<%= calendarId %>">Calendar Settings</a></li>
  <li><a class="menu new-cal-event" data-id="<%= calendarId %>" href="#">Add event to this Calendar</a></li>
  <li><a class="menu" href="#">Add reminder to this Calendar</a></li>
</ul>
