<ul class="listed-calendar-share">
  <li><%= newShare.email %></li>
  <li><%= newShare.permissions %></li>
  <li><input type="submit" value="Delete" class="remove-share" data-id="<%= key %>"></li>
</ul>