<ul class="listed-calendar-share">
  <li><%= calShare.email %></li>
  <li><%= calShare.permissions %></li>
  <li>
    <input
      type="submit"
      value="Delete"
      class="remove-share button-lrg"
      data-id="<%= key %>">
    </li>
</ul>