<h2>Share this calendar with someone</h2>
<form>
  <label>Person
    <input type="text" name="email" placeholder="Enter email address" id="email-input">
  </label>

  <label>
    <select name="permissions">
      <option value="Make changes AND manage sharing">Make changes AND manage sharing</option>
      <option value="Make changes to events">Make changes to events</option>
      <option value="See all event details">See all event details</option>
      <option value="See only free/busy status">See only free/busy status</option>
    </select>
  </label>

  <input type="submit" id="add-person" value="Add Person">
</form>