<h2>Share this calendar with someone awesome</h2>
<form>
  <div id="new-share-input">
    <div class="float-block">
      <label>Person</label>
      <input type="text" name="email" placeholder="Enter email address" id="email-input">
    </div>


    <div class="float-block">
      <label>Permissions</label>
      <select name="permissions" id="permissions">
        <option value="Make changes AND manage sharing">Make changes AND manage sharing</option>
        <option value="Make changes to events">Make changes to events</option>
        <option value="See all event details">See all event details</option>
        <option value="See only free/busy status">See only free/busy status</option>
      </select>
    </div>

    <div class="float-block">
      <input type="submit" id="add-person" value="Add Person" class="button-lrg">
    </div>
  </div>
</form>