<a href="#/test_calendar">Try out the calendar</a>
<section id="settings-views"></section>
<section id="calendar-views"></section>
<section id="form-views"></section>
<div id="test-calendar"></div>

<script>
  var CURRENT_USER_ID = <%= current_user.id %>;
  var TIME_ZONES = <%= ActiveSupport::TimeZone.zones_map.to_json.html_safe %>
</script>