<section id="settings-views"></section>
<section id="sidebar"></section>
<div id="calendar-views">
  <section id="form-views"></section>
</div>


<script>
  var CURRENT_USER_ID = <%= current_user.id %>;
  var TIME_ZONES = <%= ActiveSupport::TimeZone.zones_map.to_json.html_safe %>
  $(document).ready(function () {
    // $(window).resize(function (event) {
//       console.log("window resizing");
//       $('#calendar-views').fullCalendar(
//         'option',
//         'contentHeight',
//         $(window).height() - $("html").height() - $(".fc-header").height() - 30
//       );
//     });
  });
</script>