#calendar-views {
  position: absolute;
  left: 230px;
  width: 85%;
//  max-height: 800px;
  height: 100%;
}
//
//#calendar-view {
//  margin-top: 30px;
//  position: relative;
//  left: 10px;
//  overflow-y: scroll;
//  padding-bottom: 45px;
//}
//
//// agenda view
//
//.days-agenda {
//  border: 1px solid #777;
//  border-radius: 4px;
//  background: #eee;
//  margin-bottom: 4px;
//  font-size: 17px;
//}
//.days-agenda > li {
//  display: block;
//}
//
//.days-agenda:after {
//  clear: both;
//  display: block;
//  content: "";
//}
//
//.agenda-day {
//  padding-top: 10px;
//  padding-bottom: 10px;
//}
//
//.agenda-day > li {
//  display: inline;
//}
//
//.agenda-day-number {
//  font-size: 35px;
//  margin-left: 10px;
//}
//
//.all-day-events {
//  border-bottom: 1px solid #bbb;
//  padding-top: 5px;
//  padding-bottom: 5px;
//}
//
//.all-day-events li {
//  padding-top: 5px;
//  padding-bottom: 5px;
//  margin-left: 5px;
//}
//
//.event {
//  padding-top: 5px;
//  padding-bottom: 5px;
//}
//
//.event > li {
//  display: inline;
//  margin: 0px 100px 0px 5px;
//}
//
