/* footer styling*/

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  min-width: 800px;
  background: #eee;
  margin-top: 30px;
}

footer:after {
  clear: both;
  display: block;
  content: "";
}

footer a {
  color: #555;
  font-size: 15px;
}

footer a:hover {
  color: #111;
  text-decoration: underline;
}

#copyright {
  float: left;
  margin: 12px 0px 12px 30px;
}

footer ul {
  float: right;
}

footer li {
  float: left;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 30px;
}