.ui-dialog-titlebar {
  background: white;
  border: none;
}

::-webkit-resizer {
  display: none;
}

.ui-widget input, .ui-widget textarea {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: normal;
  font-size: 17px;
}

.ui-widget input[type=submit] {
  font-size: 22px;
  width: auto;
}

span.radio {
  display: inline-block;
  padding: 8px;
}

input[type=radio] {
  display: inline-block;
}

input[type=time] {
  padding-left: 5px;
  padding-right: 5px;
}

.datepicker {
  width: 110px;
  text-align: center;
}

input[type=date] {
  width: 150px;
}

input[type="time"]::-webkit-clear-button{
  display:none;
}

input[type=time]::-webkit-inner-spin-button,
input[type=time]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

#new-event-form {
  width: 840px;
}

.form-column {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
}

.description {
  margin-left: 50px;
}

.ui-widget select {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: normal;
  font-size: 16px;
  width: 300px;
}

.ui-dialog-content {
  font-weight: 300;
  line-height: normal;
  font-family: 'Lato', sans-serif;
}
.ui-widget-content {
  font-weight: 300;
  line-height: normal;
}

#new-share-input {
  border-radius: 8px;
}

#form-views {
  overflow-y: hidden;
}

#cal-settings-timezone {
  margin-bottom: 20px;
}

.date-selects > .form-row {
  display: inline-block;
}

.all-day > input {
  display: inline-block;
  margin-right: 5px;
  line-height: 100%;
  vertical-align: middle;
}

.inline-button {
  display: inline;
}

.remove-event {
  position: relative;
  text-align: left;
}

.back {
  margin-left: 20px;
}

h4 {
  margin-bottom: 10px;
}

.show td.label {
  width: 120px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#delete-calendar {
  font-weight: 300;
}

.calendar-form form {
  display: inline-block;
}

.calendar-form .form-row {
  padding: 10px;
  display: inline-block;
  vertical-align: top;
}

.calendar-form .form-row-buttons {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  vertical-align: top;
}

#update-calendar {
  margin-left: 100px;
}

.form-block {
  padding: 10px;
  display: inline-block;
  vertical-align: top;
}

.form-block > .form-row {
  display: block;
}

#update-availability-shares {
  display: block;
  position: absolute;
  left: 20px;
  bottom: 0;
}

#new-availability-input {
 border-radius: 8px;
 background: #eee;
}

#availability-add-person.button-lrg {
  margin: 0;
}

#new-availability-input:after {
  content: "";
  display: block;
  clear: both;
}

.remove-share.button-lrg {
  margin-bottom: 0px;
}

.listed-availability-share {
  display: block;
  margin: 0;
  border-top: 1px solid #ccc;
}

.listed-availability-share:first-child {
  border-top: none;
}

.listed-availability-share:last-child {
  margin-bottom: 40px;
}

.listed-availability-share:after {
  display: block;
  content: "";
  clear: both;
}

.listed-availability-share > li:first-child {
  padding: 20px;
  float: left;
}

.listed-availability-share > li:last-child {
  padding: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  float: right;
}

.form-row > p {
  text-align: left;
}

#listed-calendar-shares {
  margin-left: 80px;
}

.listed-calendar-share {

}

.listed-calendar-share > td {
  padding-top: 20px;
  padding-bottom: 20px;
}

.td-email {
  width: 550px;
}

.td-permissions {
  width: 480px;
}