/* header styling */

header.nav-bar {
  top: 0;
  right: 0;
  left: 0;
  min-width: 800px;
  background: #888;
  margin-bottom: 30px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#888), to(#555))
}

header:after, .nav-pin-right:after {
  clear: both;
  display: block;
  content: "";
}

header a {
  color: #fff;
  font-size: 24px;
}

#logo {
  float: left;
  margin: 15px 0px 15px 50px;
  font-size: 32px;
}

#logo:hover {
  color: white;
}

.nav-pin-right {
  float: right;
}

.nav-pin-right > li {
  position: relative;
  float: left;
  display: block;
  right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
}

#account {
  color: #fff;
}

#account:hover {
  color: #ccc;
}

#account:hover .drop-down {
  display: block;
}

#account .drop-down {
  right: 0px;
  top: 43px;
}

#account .drop-down li a {
  text-align: right
}