// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.form-box {
//  position: relative;
  display: block;
  width: 373px;
  margin: auto;
}

h1 {
  text-align: center
}

.form-row {
  width: 373;
  margin-bottom: 12px;
}

.form-row label {
  display: block;
  margin-bottom: 5px;
}

input[type=submit] {
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

p {
  text-align: center;
}

p a:hover {
  text-decoration: underline;
}