// Place all the styles related to the Calendars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Sidebar

#sidebar {
  position: absolute;
  display: block;
  top: 133px;
  margin: 30 auto 0 auto;
  width: 215px;
  border-top: 1px solid #bbb;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  border-radius: 5px;
}

.calendars:after {
  display: block;
  clear: both;
  content: "";
}

.cal-list-title > a {
  display: block;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #bbb;
  border-top: 1px solid #bbb;
  cursor: default;
}

#owned-calendars a {
 border-top: none;
}

.cal-list-item {
  padding: 6px;
  position: relative;
}

.cal-list-item:after {
  display: block;
  content: "";
  clear: both;
}

.cal-list-item > li {
  display: block;
  float: left;
}

.cal-list-title:hover > .drop-down {
  display: block;
  top: 0;
  left: 215px;
  width: 300px;
  z-index: 1000;
}

.cal-list-item:hover > li > .drop-down {
  position: absolute;
  display: block;
  top: -2px;
  left: 215px;
  width: 300px;
  z-index: 1000;
}

.cal-list-item> li > a:hover {
  color: black;
}

.cal-list-item > li > a {
  cursor: default;
}

.color {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 4px;
  margin: 5px;
  border: 2px solid white;
  cursor: pointer;
}

.calendar {
  padding: 5px;
}

.color-drop-down {
  position: absolute;
  display: none;
  padding: 7px;
  width: 165px;
  left: 300px;
  bottom: -80px;
}

.color-drop-down:after {
  clear: both;
  display: block;
  content: "";
}

.color-select:hover > .color-drop-down {
  display: block;
  z-index: 2000;
}

.color-option {
  float: left;
  display: block;
  border: 1px solid white;
}

.color-option:hover {
  border: 1px solid #444;
}